apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  environment: stage

resources:
- app
- argocd

images:
- digest: sha256:87b4f7308c97fba68880f3d3233608755035a78dda77148c5915e054348f9a4b
  name: quay.io/tstockwell/greeting-api
